extends layout

block content
  div.user-toolbar-form
   -if(!user.isAuthenticated)
     a.login(href="/login") Login
     a.signup(href="/signup") Sign up
   -else
     span.username= "Welcome: " + user.name
     a.logout(href="/logout") Logout
     a.new-post(href="/post/new") New Post
  h1= title
  p Welcome to #{title}
  
  div.posts-list
    -if(posts.length)
      each post in posts
        div.post          
          section.title-placeholder
            a.post-title(href= post.viewlink)= post.title
          section.post-preview-placeholder
            section.date-of-post= post.publishDate
            section.post-preview= post.body         
          section.right-tileLabel
            a.more(href='#') more...