extends layout

block content
    div.postform
      a.icon.goback(href="/") <
      h1.post-title-view= post.title
      div.form-element
        label
          | Post content:
        div.post-body-view!=post.body
      div.form-element
        label
          | Tags:
        div.post-tags-view= post.stringOfTags
      form(action="/post/"+post.permalink+"/addcomment", method="post")
          div.comment-form
            -if(!isAuthenticated)
                div.form-element
                  label
                   | author:
                  input.comment-author(type="text", name='comment[author]', value=comment.author)
                  -if(comment.errors["comment-author-error"])
                    div#comment-author-error.error= comment.errors["comment-author-error"]
                div.form-element
                  label
                   | e-mail:
                  input.comment-email(type="email", name="comment[email]", value=comment.email)
                  -if(comment.errors["comment-email-error"])
                    div#comment-email-error.error= comment.errors["comment-email-error"]
            div.form-element
              label
               | comment:
              textarea.comment-body(cols="67", rows="7", name="comment[body]", value=comment.body)
              -if(comment.errors["comment-body-error"])
                    div#comment-body-error.error= comment.errors["comment-body-error"]
            input(type="submit", value="Add comment")
      div.comments-ribbon
        h4 Comments:
        -if(post.comments)
          each comment in post.comments
            section.post-comment
              div.comment-like
                div.like.icon(data-token=comment.token, data-plink=post.permalink) Ã
                -if(comment.likes)
                  div.like-info= comment.likes
                -else
                  div.like-info= "0"
              label author: 
              span.author= ' ' + comment.author
              section.content= comment.body
    script(src="/javascripts/app/viewpost-page.js")