extends layout

block content
    div.postform
      h1= title
      div.form-element
        label
          | Title:
        div.post-title-view= post.title
      div.form-element
        label
          | Post content:
        div.post-body-view=post.body
      div.form-element
        label
          | Tags:
        div.post-tags-view= post.stringOfTags
      form(action="/post/"+post.permalink+"/addcomment", method="post")
          div.comment-form
            div.form-element
              label
               | author:
              input.comment-author(type="text", name='comment[author]')
            div.form-element
              label
               | e-mail:
              input.comment-email(type="email", name="comment[email]")
            div.form-element
              label
               | comment:
              textarea.comment-body(cols="67", rows="7", name="comment[body]")
            input(type="submit", value="Add comment")
      div.comments-ribbon
        h4 Comments:
        -if(post.comments)
          each comment in post.comments
            section.post-comment
              label author: 
              span.author= ' ' + comment.author
              section.content= comment.body